// --- Colors ---
$r-maincta-pink: #dd1969;
$r-black: #070216;
$color-text: #555555;
$r-white: #ffffff;
$r-background: #f1f0f6;
$r-purple: #7d2f78;
$r-background: #F1F0F6;

// --- Typography ---
$font-main: "DM Sans", sans-serif;
$font-display: "Wix Madefor Display", sans-serif;

// --- Spacing & Borders ---
$container-max-width: 1200px;
$border-radius-sm: 4px;
