@use "./../../init" as *;

@use "./solution_banner";
@use "./solution_content";

.l-solution {
    &__banner {
        margin-bottom: 10rem;
    }
}


.l-container {
    width: 100%;
    max-width: 144rem; 
    margin: 0 auto;
    padding: 0 2.4rem;

    &.is-shorter {
        max-width: 120rem; 
    }
}
